.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
__pypackages__/
.idea
*.iml
out
gen
.Trashes
.metadata_never_index
.fseventsd/
boot_out.txt
*.manifest
*.spec
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.pdm.toml
celerybeat-schedule
celerybeat.pid
*.sage.py
.env
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
example/bruteforce/__pycache__
example/cryptography/__pycache__
example/exploits/__pycache__
example/forensic/__pycache__
example/network/__pycache__
example/web/__pycache__
unsafe/__pycache__
unsafe/ext/__pycache__
unsafe/ext/web/__pycache__
unsafe/ext/network/__pycache__
unsafe/ext/forensic/__pycache__
unsafe/ext/exploits/__pycache__
unsafe/ext/cryptography/__pycache__
unsafe/ext/bruteforce/__pycache__
unsafe/strings/__pycache__
unsafe/strings/logins/__pycache__